{extend name="base"/}
{block name="link"}    
    <link href="/css/client/add_client.css" rel="stylesheet"/>
{/block}

{block name="container"}
    <form method="POST" action="/index.php/Index/client/addClient">
        <p class="title">新增客户</p>
        <div class="form-group hidden clear">
            <p class="p1">id</p>
            <input type="text" class="form-control input1" name="id">
        </div>
        <div class="form-group clear">
            <p class="p1">主合同编号</p>
            <input type="text" class="form-control input1" name="contractID" placeholder="请输入主合同编号">
        </div>
        <div class="form-group clear">
            <p class="p1">客户名称</p>
            <input type="text" class="form-control input1" name="client" placeholder="请输入客户名称">
        </div>
        <div class="form-group clear">
            <p class="p1">店铺名称</p>
            <input type="text" class="form-control input1" name="storeName" placeholder="请输入店铺名称">
        </div>
        <div class="form-group clear">
            <p class="p1">业务员</p>
            <input type="text" class="form-control input1" name="staff" placeholder="请输入绑定KA">
        </div>
        <div class="form-group clear">
            <p class="p1">联系电话</p>
            <input type="text" class="form-control input1" name="telephone" placeholder="请输入联系电话">
        </div>
        <div class="form-group clear">
            <p class="p1">地址</p>
            <input type="text" class="form-control input1" name="address" placeholder="请输入地址">
        </div>
        <div class="form-group clear">
            <button class="btn btn-sm btn-success submit">提交表单</button>
        </div>
    </form>
{/block}
