<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>俞兆林_客户列表</title>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" media="screen" />
        <link href="/css/clientList.css" rel="stylesheet"/>
        <link href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet"/>
        <script src="/lib/bootstrap-3.3.7-dist/js/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}
    
        <div class="container">
            <div class="search_bar">
                <form method="GET" action="/index.php/Index/client/clientList.html">
                    <p>客户查询</p>
                    <select class="sel form-control" id="status">

                            {switch name=$optionID}
                                {case value="1"}
                                    <option selected>公司名称</option>
                                    <option>店铺名称</option>
                                    <option>事业部</option>
                                    <option>绑定KA</option>
                                {/case}
                                {case value="2"}
                                    <option>公司名称</option>
                                    <option selected>店铺名称</option>
                                    <option>事业部</option>
                                    <option>绑定KA</option>
                                {/case}
                                {case value="3"}
                                    <option>公司名称</option>
                                    <option>店铺名称</option>
                                    <option selected>事业部</option>
                                    <option>绑定KA</option>
                                {/case}
                                {case value="4"}
                                    <option>公司名称</option>
                                    <option>店铺名称</option>
                                    <option>事业部</option>
                                    <option selected>绑定KA</option>
                                {/case}
                                {default /}
                                    <option selected>公司名称</option>
                                    <option>店铺名称</option>
                                    <option>事业部</option>
                                    <option>绑定KA</option>
                                {/case}
                                
                            {/switch}

                    </select>
                    <div class="input_search_info">
                        <input type="text" class="form-control" value="1" id="optionID" name="optionID" style="display:none"/>
                        <input type="text" class="form-control" placeholder="请输入公司名称" name="companyName" id="companyName"/>
                        <input type="text" class="form-control" placeholder="请输入店铺名称" name="storeName" style="display:none" id="storeName"/>
                        <input type="text" class="form-control" placeholder="请输入事业部" name="department" style="display:none" id="department"/>
                        <input type="text" class="form-control" placeholder="请输入绑定KA" name="staff" style="display:none" id="staff"/>
                    </div>
                    <div class="btn_search_info">
                        <button type="submit" class="btn btn-warning btn-sm">查询</button>
                        <button type="button" class="btn btn-success btn-sm">下载</button>
                    </div>
                </form>
            </div>
            <div class="content">
                {include file="../application/index/view/component/tableList.html" /}
            </div>
        </div>
    </body>

    <style>
        .container{margin-left: 200px;margin-top:60px}
        .sel{width:110px;}
        .search_bar p,.sel{float: left;margin-right: 10px;}
        .search_bar p{position: relative;top:5px;}
        .input_search_info{float: left;width:250px;}
        .btn_search_info{position: relative;top:2px;margin-left:20px;float: left;margin-left: 10px;}
        .btn_search_info button{margin-right:5px;}
        .content{clear:both;}
    </style>

    <script>
        $("#status").click(function(){
            if($("#status").val()=="公司名称"){
                $("#optionID").attr("value","1");
                $("#companyName").css("display","inline");
                $("#storeName").css("display","none");
                $("#department").css("display","none");
                $("#staff").css("display","none");
            }else if($("#status").val()=="店铺名称"){
                $("#optionID").attr("value","2");
                $("#companyName").css("display","none");
                $("#storeName").css("display","inline");
                $("#department").css("display","none");
                $("#staff").css("display","none");
            }else if($("#status").val()=="事业部"){
                $("#optionID").attr("value","3");
                $("#companyName").css("display","none");
                $("#storeName").css("display","none");
                $("#department").css("display","inline");
                $("#staff").css("display","none");
            }else if($("#status").val()=="绑定KA"){
                $("#optionID").attr("value","4");
                $("#companyName").css("display","none");
                $("#storeName").css("display","none");
                $("#department").css("display","none");
                $("#staff").css("display","inline");
            }
        })
    </script>
</html>