{extend name="base"/}
{block name="link"}    
    <link href="/css/client/client_line.css" rel="stylesheet"/>
{/block}

{block name="container"}
    <p class="title">客户详情</p>
    <hr>
    <div class="description">
        <p>主合同编号：{$client_line.contractID}</p>
        <p>客户名称：{$client_line.clientName}</p>
        <p>店铺名称：{$client_line.storeName}</p>
        <p>事业部：{$client_line.department}</p>
        <p>业务员：{$client_line.staff}</p>
        <p>客户地址：{$client_line.address}</p>
        <p>客户电话：{$client_line.telephone}</p>
        <p>登记日期：{$client_line.re_date}</p>
        <p>变更日期：{$client_line.change_date}</p>
        <p>变更人：{$client_line.change_by}</p>
        <p>合同是否生效：{$client_line.is_agree}</p>
    </div>
{/block}