<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="/lib\bootstrap-3.3.7-dist\css\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
        <link href="/lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="/css/leftbar.css?v=2" rel="stylesheet"/>
        <link href="/css/header.css?v=2" rel="stylesheet"/>
        <script src="/lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="/lib\bootstrap-3.3.7-dist\js\bootstrap-datetimepicker.js"></script>
        <script src="/lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;">
            <div style="margin-left:40px;">
                <div style="border-radius: 6px;margin-top:50px">
                    <div class="nav nav-pills" style="float:left;margin-top:15px;position:relative;right:5px;">
                        <li role="presentation" class="active"><a href="#">新增合同</a></li>
                        <li role="presentation" style="display:none"><a href="contractAddition.php">新增补充合同</a></li>
                        <li role="presentation" style="display:none"><a href="newSQ.php">新增授权</a></li>
                    </div>
                </div>
                
                <!--<button style="float:left;margin-left:360px;position:relative;top:20px" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal2">批量上传</button>-->
                
                <form method="POST" action="">
                    <div class="form-group hidden" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">id</p>
                        <input type="text" class="form-control" name="id" value="" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">合同编号</p>
                        <input type="text" class="form-control" name="no" value="" placeholder="请输入合同编号" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">合同类型</p>
                        <select class="form-control" style="width: 250px;float: left;margin-top: 15px;" name="contractType" id="contractType">
                            <option>经销商合同</option>
                            <option>供应商合同</option>
                        </select>
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">公司名称</p>
                        <input type="text" class="form-control" name="company" value="" placeholder="请输入公司名称" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group store_name" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">店铺名</p>
                        <input type="text" class="form-control" name="store" value="" placeholder="请输入店铺名" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group store_pingtai" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">授权平台</p>
                        <input type="text" class="form-control" name="pingtai" value="" placeholder="请输入授权平台" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">授权类目</p>
                        <input type="text" class="form-control" name="category" value="" placeholder="请输入授权类目" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">保证金</p>
                        <input type="text" class="form-control" name="money" value="" placeholder="请输入保证金" style="width: 250px;float: left;margin-top: 15px;"  oninput="value=value.replace(/[^\d.]/g,'')">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">是否共享保证金</p>
                        <select class="form-control" style="width: 250px;float: left;margin-top: 15px;" name="ismoney">
                            <option>是</option>
                            <option selected>否</option>
                        </select>
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">销售额指标（万）</p>
                        <input type="text" class="form-control" name="sales" value="" placeholder="请输入销售额" style="width: 250px;float: left;margin-top: 15px;" oninput="value=value.replace(/[^\d.]/g,'')">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">是否共享销售额</p>
                        <select class="form-control" style="width: 250px;float: left;margin-top: 15px;" name="issales">
                            <option selected>是</option>
                            <option>否</option>
                        </select>
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">服务费指标（万）</p>
                        <input type="text" class="form-control" name="service" value="" placeholder="请输入服务费" style="width: 250px;float: left;margin-top: 15px;"  oninput="value=value.replace(/[^\d.]/g,'')">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">是否共享服务费</p>
                        <select class="form-control" style="width: 250px;float:left;margin-top: 15px;" name="isservice">
                            <option selected>是</option>
                            <option>否</option>
                        </select>
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">关联原合同</p>
                        <input type="text" class="form-control" name="oldNo" value="" placeholder="请输入原合同编号" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">备注</p>
                        <input type="text" class="form-control" name="note" value="" placeholder="请输入备注" style="width: 250px;float: left;margin-top: 15px;">
                    </div>
                    <div class="form-group" style="clear: both;">
                        <p style="width: 120px;font-size: 14px;float: left;margin-top: 22px;">合同日期</p>
                        
                        <div style="float: left;width:180px;margin-top: 15px;" class="input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" id="input_time" name="input_time" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        
                        <p style="float: left;position:relative;top:20px;margin-left:5px;"> 到 </p>

                        <div style="float: left;margin-left:10px;width:180px;margin-top: 15px;" class="input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" id="input_time2" name="input_time2" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div style="clear: both;position:relative;top:10px;">
                        <button id="submit" type="button" class="btn btn-success btn-md">提交信息</button>
                        <button id="hd_submit" type="submit" class="btn btn-success btn-md" style="display:none">提交信息</button>
                    </div>
                </form>

                <!-- Excel导入模态框 -->
                <form method="POST" action="formHandle/uploadContractHandle.php" enctype="multipart/form-data">
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        批量上传合同
                                    </h4>
                                </div>
                                
                                <div class="modal-body" style="height: 150px;">
                                    <input type="file" name="excel"/>
                                    <div style="clear: both;position: relative;top:20px;width:300px;">
                                        <p>温馨提示：文件必须为EXCEL格式，请按模板文件格式进行上传，文件大小需小于2M</p>
                                    </div>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-primary">导入表格</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

<script>
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: true,
        startView: 2,  
        minView: 2, 
        forceParse: false,
        language:'cn',
        pickerPosition: "bottom-left"
    });

    $("#contractType").change(function(){
        contract_type=$(this).val();

        if(contract_type=="经销商合同"){
            $(".store_pingtai").css("display","")
        }else{
            $(".store_pingtai").css("display","none")
        }
    })

    $("#submit").click(function(){
        input_time=$("#input_time").val();
        input_time2=$("#input_time2").val();

        if(input_time == "" || input_time2 == ""){
            alert("合同期限必须填写");
        }else{
            $("#hd_submit").click();
        }
    })
</script>