@media screen and (min-width:1500px){
    .login_nav{border-bottom:0px #cccccc solid;height:60px;background-color:#000000}
    .logo{position: fixed;margin-left:130px;}
    .logo p{font-size:24px;margin-top:15px;font-weight: bold;color:brown}
    .login_content{margin-top: 0px}
    .login_content img{width:100%;height:100%;overflow: hidden;}
    .login_content form{position:absolute;left:30%;top:25%;color:#cccccc}
    .login_content form p{float: left;width: 60px;margin-top: 5px;font-weight: bold;}
    .login_content form input{float: left;width:200px}
    .group1{clear:both;position: relative;top: 15px}
    .group2{clear:both;position: relative;top:30px}
    .reset{position: relative;left:15px}
}

@media screen and (min-width:1300px) and (max-width:1499px){
    .login_nav{border-bottom:0px #cccccc solid;height:60px;background-color:#000000}
    .logo{position: fixed;margin-left:130px;}
    .logo p{font-size:24px;margin-top:15px;font-weight: bold;color:brown}
    .login_content{margin-top: 0px}
    .login_content img{width:100%;height:100%;overflow: hidden;}
    .login_content form{position:absolute;left:40%;top:20%;color:#cccccc}
    .login_content form p{float: left;width: 60px;margin-top: 5px;font-weight: bold;}
    .login_content form input{float: left;width:200px}
    .group1{clear:both;position: relative;top: 15px}
    .group2{clear:both;position: relative;top:30px}
    .reset{position: relative;left:15px}
}

@media screen and (max-width:1299px){
    .login_nav{border-bottom:0px #cccccc solid;height:60px;background-color:#000000}
    .logo{position: fixed;margin-left:130px;}
    .logo p{font-size:24px;margin-top:15px;font-weight: bold;color:brown}
    .login_content{margin-top: 0px}
    .login_content img{width:100%;height:100%;overflow: hidden;}
    .login_content form{position:absolute;left:40%;top:20%;color:#cccccc}
    .login_content form p{float: left;width: 60px;margin-top: 5px;font-weight: bold;}
    .login_content form input{float: left;width:200px}
    .group1{clear:both;position: relative;top: 15px}
    .group2{clear:both;position: relative;top:30px}
    .reset{position: relative;left:15px}
}
