.container1{margin-left: 180px;}
.willDo{width: 414px;height:200px;border:1px solid #d9d9d9;float:left;margin-left:30px;border-radius: 5px;margin-top:20px;padding-left:10px;padding-top:10px;}
.title{color: #9b9b9b;}
.willDo_child{width: 124px;height:70px;background-color: #f5eeee;float:left;margin-right:10px;margin-top:10px;padding:10px;}
.willDo h3{text-align:center;margin-top: 7px;}
.caption{text-align:center;}
.fastDo{width: 280px;height:200px;border:1px solid #cccccc;float:left;margin-left:20px;border-radius: 5px;margin-top:20px;padding:10px;padding-right:0px}
.fastDo div{width:77px;height:70px;background-color: #f5eeee;padding: 10px;float:left;margin-top:10px;margin-right:12px;}
.fastDo a:hover{text-decoration: none;}
.fastDo i{font-size:30px;margin-left:13px;}
.template{width: 282px;height:200px;border:1px solid #cccccc;float:left;margin-left:20px;border-radius: 5px;margin-top:20px;padding:10px;padding-right:0px}
.template div{width:75px;height:70px;background-color: #f5eeee;padding: 10px;float:left;margin-top:10px;margin-right:15px;}
.template a:hover{text-decoration: none;}
.data_line{width: 715px;height:340px;border:1px solid #cccccc;float:left;margin-left:30px;border-radius: 5px;margin-top:20px;padding:10px;}
.sales{height:160px;border:1px solid #cccccc;float:left;margin-left:20px;border-radius: 5px;margin-top:20px;padding:10px;}
.backMoney{height:160px;border:1px solid #cccccc;float:left;margin-left:20px;border-radius: 5px;margin-top:20px;padding:10px;}