<div style="clear:both;">
    <div style="position:relative;top:15px;width:1000px;">
        <h4 style="float:left">
            <span class="label label-info">共<?=$total?>条</span>
            <span class="label label-warning">共<?=$pagecount?>页</span>
            <span class="label label-success">第<?=$page?>页</span>
        </h4>
    </div>
</div>

<table class="table table-responsive table-bordered table-hover tb1">
    <tr>
        {foreach name="headers" item="header" key="index"}
            <th>{$header}</th>
        {/foreach}
    </tr>
    {foreach name="companyInfos" item="companyInfo" key="index"}
        <tr>
            <td>{$pagesize*($page-1) + $index+1}</td>
            <td><p>{$companyInfo.clientName}</p></td>
            <td><p>{$companyInfo.storeName}</p></td>
            <td><p>{$companyInfo.department}</p></td>
            <td><p>{$companyInfo.staff}</p></td>
            <td><p>{$companyInfo.telephone}</p></td>
            <td><p>{$companyInfo.address}</p></td>
        </tr>
    {/foreach}
</table>

<div>
    <ul class="pager" style="float:left;width:150px;margin-top:0px;">
        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
            if($page>1)
                echo $page-1;
            else
                echo 1;  
        ?>">上一页</a></li>
        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
            if($page<$pagecount)
                echo $page+1;
            else
                echo $pagecount;  
        ?>">下一页</a></li>
    </ul>

    <div style="float:left;margin-left:560px;width:321px;">
        <ul class="pagination" style="float:right;margin-top:0px;">
            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=1">&laquo;</a></li>
            <?php
                if($pagecount<=5){
                    for($i=1;$i<=$pagecount;$i++){
                        if($i==$page){
                            ?>
                                <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                            <?php
                        }else{
                            ?>
                                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                            <?php
                        }
                    }
                }else{
                    for($i=1;$i<=$pagecount;$i++){
                        if($i==$page){
                            ?>
                                <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                            <?php
                        }elseif(($i>=$page-2 and $i<=$page+2 and $page>3) and $page !=$pagecount){
                            ?>
                                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                            <?php
                        }elseif($i<=5){
                            if($page<=3){
                            ?>
                                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                            <?php
                            }
                        }
                    }
                }
                
            ?>
            
            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php echo $pagecount; ?>">&raquo;</a></li>
        </ul>
    </div>
</div>

<style>
    .tb1{width:1030px;margin-top: 50px;}
    .tb1 th{background-color:rgb(67, 64, 255);text-align: center;color:#ffffff}
    .tb1 td{text-align: center;}
    td:first-child{width: 100px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
    td p{width: 130px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
</style>