<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\css/leftbar.css?v=2" rel="stylesheet"/>
        <link href="\css/header.css?v=2" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
        <script src="\js\manager_header.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;">
            {include file="../application/admin/view/common/manager_header.html" /}

            <div class="nav nav-pills" style="float:left;margin-left:40px;margin-top:110px;">
                <li role="presentation" class="active"><a href="#">系统日志</a></li>
                <li role="presentation"><a href="system_backup.html">数据备份</a></li>
                <button id="del_log" class="btn btn-success btn-sm" style="float:left;margin-left:780px;margin-top:10px;"  data-toggle="modal" data-target="#myModal">清除日志</button>
            </div>

            <table class="table table-responsive table-bordered table-hover" style="clear:both;position:relative;top: 20px;width: 1025px;margin-left: 40px;">
                <tr>
                    <th>序号</th>
                    <th>登录账号</th>
                    <th>登录时间</th>
                    <th>登录ip</th>
                    <th>登录操作</th>
                </tr>
                {foreach name="logs" item="log" key="index"}
                    <tr>
                        <td>{$pagesize*($page-1) + $index+1}</td>
                        <td>{$log.username}</td>
                        <td>{$log.date}</td>
                        <td>{$log.ip}</td>
                        <td>{$log.option}</td>
                    </tr>
                {/foreach}
            </table>
            
            <div style="margin-left:30px;margin-top:30px;">
                <ul class="pager" style="float:left;width:150px;margin-top:0px;">
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                        if($page>1)
                            echo $page-1;
                        else
                            echo 1;  
                    ?>">上一页</a></li>
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                        if($page<$pagecount)
                            echo $page+1;
                        else
                            echo $pagecount;  
                    ?>">下一页</a></li>
                </ul>
            
                <div style="float:left;margin-left:560px;width:321px;">
                    <ul class="pagination" style="float:right;margin-top:0px;">
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=1">&laquo;</a></li>
                        <?php
                            if($pagecount<=5){
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }else{
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }
                                }
                            }else{
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }elseif(($i>=$page-2 and $i<=$page+2 and $page>3) and $page !=$pagecount){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }elseif($i<=5){
                                        if($page<=3){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                        }
                                    }
                                }
                            }
                            
                        ?>
                        
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php echo $pagecount; ?>">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $("#del_log").click(function(){
        window.location.href="del_log";
    })
</script>

<style>
    th{
        background-color: #f5f2f2;
    }
</style>