<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\css/leftbar.css" rel="stylesheet"/>
        <link href="\css/header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\js\manager_header.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;">
            {include file="../application/admin/view/common/manager_header.html" /}

            <form action="fl_editHandle" method="POST" style="margin-left: 50px;position:relative;top:100px;">
                <p style="font-size: 18px;">修改辅料</p>
                
                <input type="hidden" value="{$fl_line.id}" class="form-control" name="id">

                <div style="margin-top:10px;">
                    <p>辅料名称：</p>
                    <input type="text" value="{$fl_line.fl_name}" placeholder="请输入辅料名称" class="form-control" name="fl_name" style="width: 300px;margin-top:10px;" readOnly>
                </div>

                <div style="margin-top:10px;">
                    <p>辅料价格：</p>
                    <input type="text" value="{$fl_line.fl_price}" placeholder="请输入辅料价格" class="form-control" name="fl_price" style="width: 300px;margin-top:10px;">
                </div>
                                 
                <button type="submit" class="btn btn-success" style="margin-top:10px;">提交</button>                     
            </form>  
        </div>
    </body>
</html>