<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\css/leftbar.css" rel="stylesheet"/>
        <link href="\css/header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\js\manager_header.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;">
            {include file="../application/admin/view/common/manager_header.html" /}

            <div style="width:1060px;">
                <button class="btn btn-sm btn-success" style="float:right;margin-top:110px;" id="createFL" data-toggle="modal" data-target="#myModal">添加辅料</button>
            </div>

            <table class="table table-responsive table-bordered table-hover" style="width: 1020px;margin-left: 40px;position:relative;top:15px;">
                <tr>
                    <th>序号</th>
                    <th>辅料名称</th>
                    <th>辅料单价</th>
                    <th>操作</th>
                </tr>
                {foreach name="fls" item="fl" key="index"}
                    <tr>
                        <td>{$pagesize*($page-1) + $index+1}</td>
                        <td>{$fl.fl_name}</td>
                        <td>{$fl.fl_price}</td>
                        <td style="width:150px;">
                            <a href="fl_edit?id={$fl.id}">修改</a>
                            <span> | </span>
                            <a href="fl_del?id={$fl.id}">删除</a>
                        </td>
                    </tr>
                {/foreach}
                
            </table>

            <div style="margin-left:30px;margin-top:35px;">
                <ul class="pager" style="float:left;width:150px;margin-top:0px;">
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                        if($page>1)
                            echo $page-1;
                        else
                            echo 1;  
                    ?>">上一页</a></li>
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                        if($page<$pagecount)
                            echo $page+1;
                        else
                            echo $pagecount;  
                    ?>">下一页</a></li>
                </ul>
            
                <div style="float:left;margin-left:560px;width:321px;">
                    <ul class="pagination" style="float:right;margin-top:0px;">
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=1">&laquo;</a></li>
                        <?php
                            if($pagecount<=5){
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }else{
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }
                                }
                            }else{
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }elseif(($i>=$page-2 and $i<=$page+2 and $page>3) and $page !=$pagecount){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }elseif($i<=5){
                                        if($page<=3){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                        }
                                    }
                                }
                            }
                            
                        ?>
                        
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php echo $pagecount; ?>">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Excel导入模态框 -->
        <form action="fl_add" method="POST" style="margin-left: 50px;">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:400px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                添加辅料
                            </h4>
                        </div>
                        
                        <div class="modal-body" style="height: 200px;">
                            <div>
                                <p>辅料名称：</p>
                                <input type="text" placeholder="请输入辅料名称" class="form-control" name="fl_name" style="width: 300px;margin-top:10px;">
                            </div>

                            <div style="margin-top:10px;">
                                <p>辅料价格：</p>
                                <input type="text" placeholder="请输入辅料价格" class="form-control" name="fl_price" style="width: 300px;margin-top:15px;">
                            </div>
                            
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">新增辅料</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div> 
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>

<style>
    th{
        background-color: #f5f2f2;
    }
</style>

