<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\css/leftbar.css" rel="stylesheet"/>
        <link href="\css/header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;margin-top:80px">
            <div style="margin-left: 40px;">
                <h3 style="float: left;margin-bottom: 20px;">我的资料</h3>

                <div style="clear: both" class="my_nav">
                    <ul>
                        <li class="nav_h"  id="info">基本资料</li>
                        <li id="pwd" style="border-bottom: 2px solid red;">修改密码</li>
                        <li id="head">修改头像</li>
                    </ul>
                </div>

                <div style="clear: both;position:relative;top:30px;width:1020px;height:400px;font-size: 14px;border:1px solid #cccccc;padding:20px;border-radius: 5px;">
                    <div id="page1" style="display: none">
                        <p style="font-weight: bold;margin-bottom:15px;">个人信息</p>
                        <p>用户名：{$user.username}</p>
                        <div>
                            <p style="float:left;margin-top:5px;">昵称：<span id="nickname">{$user.nickname}</span></p>
                            <p style="cursor:pointer;color:#337ab7;float: left;margin-left:15px;font-size:14px;margin-top:5px;" id="nickname_link">点击修改</p>
                            <form action="/index.php/Index/center/my_centerHandle?option=1" method="POST" class="form_nickname" style="display:none">
                                <input type="text" class="form-control" style="width:200px;float:left" name="nickname">
                                <button type="submit" class="btn btn-success btn-sm" style="float:left;margin-left:15px;margin-top:2px;">提交</button>
                                <button type="button" class="btn btn-info btn-sm" style="float:left;margin-left:15px;margin-top:2px;" id="back1">返回</button>
                            </form>
                        </div> 
                        <div style="clear: both;">    
                            <p style="margin-top:30px;">事业部：{$user.department}</p>
                            <p style="margin-top:5px;">职位：{$user.level}</p>
                        </div>
                        <div>
                            <p style="float:left;margin-top:5px;">手机号：<span id="phone">{$user.phone}</span></p>
                            <p style="cursor:pointer;float: left;margin-left:15px;font-size:14px;margin-top:5px;color:#337ab7" id="phone_link">点击修改</p>
                            <form action="/index.php/Index/center/my_centerHandle?option=1" method="POST" class="form_phone" style="display:none">
                                <input type="text" class="form-control" style="width:200px;float:left" name="phone">
                                <button type="submit" class="btn btn-success btn-sm" style="float:left;margin-left:15px;margin-top:2px;">提交</button>
                                <button type="button" class="btn btn-info btn-sm" style="float:left;margin-left:15px;margin-top:2px;" id="back2">返回</button>
                            </form>
                        </div>
                        <div style="clear: both">
                            <p style="float:left">邮箱：<span id="email">{$user.email}</span></p>
                            <p style="cursor:pointer;float: left;margin-left:15px;font-size:14px;color:#337ab7" id="email_link">点击修改</p>
                            <form action="/index.php/Index/center/my_centerHandle?option=1" method="POST" class="form_email" style="display:none">
                                <input type="text" class="form-control" style="width:200px;float:left" name="email">
                                <button type="submit" class="btn btn-success btn-sm" style="float:left;margin-left:15px;margin-top:2px;">提交</button>
                                <button type="button" class="btn btn-info btn-sm" style="float:left;margin-left:15px;margin-top:2px;" id="back3">返回</button>
                            </form>
                        </div>
                    </div>

                    <div id="page2">
                        <p style="font-weight: bold">密码修改</p>
                        <form method="POST" action="/index.php/Index/center/my_centerHandle?option=2">
                            <div class="form-group">
                                <p style="margin-top:10px;">新密码</p>
                                <input type="password" id="newPwd1" name="newPwd1" class="form-control" style="width:250px;margin-top:5px;"/>
                                
                                <p style="font-size: 12px;color:red;margin-top:10px;">*密码至少为8位，并包含字母、数字，以及键盘上的符号（如 !、@、#等）</p>
                                <p style="margin-top:10px;">确认密码</p>
                                <input type="password" id="newPwd2" name="newPwd2" class="form-control" style="width:250px;margin-top:5px;"/>
                            </div>
                            <button type="button" class="btn btn-success btn-sm" id="submit">确认修改</button>
                            <button type="reset" class="btn btn-warning btn-sm" style="margin-left:5px;">重置表单</button>
                            <button type="submit" class="btn btn-success btn-sm" id="hidden_submit" style="display:none">提交</button>
                        </form>
                    </div>
                    <div id="page3" style="display: none">
                        <p style="font-weight: bold">修改头像</p>
                        <form method="POST" action="/index.php/Index/center/my_centerHandle?option=3" enctype="multipart/form-data">
                            <div class="form-group" style="font-size:14px;">
                                <p style="margin-top:10px;">上传头像</p>
                                <input type="file" name="upfile" style="margin-top:10px;"/>
                            </div>
                            <button type="submit" class="btn btn-success btn-sm">提交</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    .nav_h{
        border-bottom: 2px solid red;
    }

    .table-hover{
        background-color: aqua;
    }

    .my_nav ul{
        list-style: none;
        padding: 0;
        margin-left: 0;
    }

    .my_nav ul li{
        font-size: 14px;
        float: left;
        width:150px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        vertical-align: middle;
        border-bottom: 1px  solid #cccccc;
    }

    .my_nav ul li:hover{
        border-bottom: 2px solid red;
        cursor: pointer;
    }

    #nickname_link:hover{
        text-decoration: underline;
    }

    #phone_link:hover{
        text-decoration: underline;
    }

    #email_link:hover{
        text-decoration: underline;
    }
</style>

<script>
    $("#info").click(function(){
        $(this).siblings().css("border-bottom","1px  solid #cccccc")
        $(this).css("border-bottom","2px solid red")
        $("#page1").css("display","inline")
        $("#page2").css("display","none")
        $("#page3").css("display","none")
    })

    $("#pwd").click(function(){
        $(this).siblings().css("border-bottom","1px  solid #cccccc")
        $(this).css("border-bottom","2px solid red")
        $("#page2").css("display","inline")
        $("#page1").css("display","none")
        $("#page3").css("display","none")
    })

    $("#head").click(function(){
        $(this).siblings().css("border-bottom","1px  solid #cccccc")
        $(this).css("border-bottom","2px solid red")
        $("#page3").css("display","inline")
        $("#page1").css("display","none")
        $("#page2").css("display","none")
    })

    $("#nickname_link").click(function(){
        $("#nickname").css("display","none")
        $("#nickname_link").css("display","none")
        $(".form_nickname").css("display","inline")
    })

    $("#back1").click(function(){
        $("#nickname").css("display","inline")
        $("#nickname_link").css("display","inline")
        $(".form_nickname").css("display","none")
    })

    $("#phone_link").click(function(){
        $("#phone").css("display","none")
        $("#phone_link").css("display","none")
        $(".form_phone").css("display","inline")
    })

    $("#back2").click(function(){
        $("#phone").css("display","inline")
        $("#phone_link").css("display","inline")
        $(".form_phone").css("display","none")
    })

    $("#email_link").click(function(){
        $("#email").css("display","none")
        $("#email_link").css("display","none")
        $(".form_email").css("display","inline")
    })

    $("#back3").click(function(){
        $("#email").css("display","inline")
        $("#email_link").css("display","inline")
        $(".form_email").css("display","none")
    })

    $("#submit").click(function(){
        postForm=false;
        msg="";

        newPwd1=$("#newPwd1").val();
        newPwd2=$("#newPwd2").val();

        if($.trim(newPwd1) == "" || $.trim(newPwd2) == ""){
            msg="新密码或确认密码不能为空！";
        }else{
            if($.trim(newPwd1) != $.trim(newPwd2)){
                msg="新密码与确认密码不一致！";
            }else{
                if(newPwd1.length<8){
                    msg="新密码小于8位！";
                }else{
                    reg=/^(?=.*[a-zA-Z])(?=.*[1-9])(?=.*[\W]).{8,}$/;

                    if(reg.test(newPwd1)){
                        msg="";
                        postForm=true;
                    }else{
                        msg="密码必须包含字母、数字以及特殊字符！";
                    }

                }
            }
        }

        if(postForm==true){
            $("#hidden_submit").click();
        }else{
            alert(msg)
        }


        
    })
</script>