<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
        <link href="\css/leftbar.css" rel="stylesheet"/>
        <link href="\css/header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap-datetimepicker.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;margin-top:50px;">
            <div style="clear: both;border-radius: 6px;width:1030px;">
                <div class="nav nav-pills" style="float:left;margin-top:15px;margin-left:30px;">
                    <li id="open" role="presentation" class="active"><a href="/index.php/Index/store/manage_store.html?status=1">合作店铺</a></li>
                    <li id="close" role="presentation"><a href="/index.php/Index/store/manage_store.html?status=0">不合作店铺</a></li>
                </div>

                <div style="float:right;margin-top:20px;">
                    {if($newLevel == "M")}
                        <button class="btn btn-sm btn-info" style="float:right;margin-left:10px;" id="download">下载模板</button>
                        <button class="btn btn-sm btn-warning" style="float:right;margin-left:10px;"  id="upload" data-toggle="modal" data-target="#myModal">上传数据</button>  
                    {/if}
                </div>
            </div>
            
            <div style="clear:both;">
                <div style="position:relative;top:15px;width:1000px;">
                    <h4 style="float:left">
                        <span class="label label-info" style="margin-left:30px;">共{$total}条</span>
                        <span class="label label-warning" style="margin-left:5px;">共{$pagecount}页</span>
                        <span class="label label-success" style="margin-left:5px;">第{$page}页</span>
                    </h4>
                </div>
            </div>
            
            <div style="clear:both">
                <table class="table table-responsive table-bordered table-hover" style="width:1030px;margin-top:45px;margin-left:30px;">
                    <tr>
                        <th>序号</th>
                        <th>店铺编号</th>
                        <th>公司名称</th>
                        <th>店铺名称</th>
                        <th>事业部</th>
                        <th>负责人</th>
                        <th>创建日期</th>
                        <th>操作</th>
                    </tr>
                
                    {foreach name="stores" item="store" key="index"}
                        <tr>
                            <td>{$pagesize*($page-1) + $index+1}</td>
                            <td>{$store.storeID}</td>
                            <td><p>{$store.client}</p></td>
                            <td>
                                {if $store.link ==""}
                                    <p>{$store.storeName}</p>
                                {else\}
                                    <p><a href="{$store.link}" target="_blank">{$store.storeName}</a></p>
                                {/if}
                            </td>
                            <td><p>{$store.department}</p></td>
                            <td>{$store.staff}</td>
                            <td>{$store.createDate}</td>
                            <td>
                                {if($newLevel == "M")}
                                    <a href="newStore.php?id={$store.storeID}" class="btn btn-info btn-xs" style="margin-right:3px;">管理</a>
                                {else\}
                                    <a href="uploadStore.php?id={$store.storeID}" class="btn btn-info btn-xs" style="margin-right:3px;">管理</a>
                                {/if}
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>

            <div style="margin-left: 30px;">
                <ul class="pager" style="float:left;width:150px;margin-top:0px;">
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?php
                        if($page>1)
                            echo $page-1;
                        else
                            echo 1;  
                    ?>">上一页</a></li>
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?php
                        if($page<$pagecount)
                            echo $page+1;
                        else
                            echo $pagecount;  
                    ?>">下一页</a></li>
                </ul>

                <div style="float:left;margin-left:560px;width:321px;">
                    <ul class="pagination" style="float:right;margin-top:0px;">
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=1">&laquo;</a></li>
                        <?php
                            if($pagecount<=5){
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }else{
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }
                                }
                            }else{
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }elseif(($i>=$page-2 and $i<=$page+2 and $page>3) and $page !=$pagecount){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                    }elseif($i<=5){
                                        if($page<=3){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?=$i?>"><?=$i?></a></li>
                                        <?php
                                        }
                                    }
                                }
                            }
                            
                        ?>
                        
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?status={$status}&page=<?php echo $pagecount; ?>">&raquo;</a></li>
                    </ul>
                </div>
            
            </div>

            <!-- Excel导入模态框 -->
            <form method="POST" action="../../controller/store/uploadStoreTarget.php" enctype="multipart/form-data">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">
                                    上传店铺目标
                                </h4>
                            </div>
                            
                            <div class="modal-body" style="height: 200px;">
                                <div class="form-group" style="clear: both;">
                                    <span style="margin-top:20px;">上传店铺数据文件</span>
                                    <input type="file" name="excel" style="margin-top:20px;"/>
                                </div>
                            </div>
                            
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">上传</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>

<style>
    th{background-color:rgb(67, 64, 255);color:#fff}
    th,td{text-align: center;}
    table p{width: 170px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
</style>

<script>

    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: true,
        startView: 2,  
        minView: 2, 
        forceParse: false,
        language:'cn',
        pickerPosition: "bottom-left"
    });

    window.onload=function(){
        status=location.search.split("=")[1];

        if(status.indexOf("&") != -1){
            status=status.split("&")[0]
        }

        if(status==0){
            $("#close").addClass("active");
            $("#open").removeClass("active");
        }else{
            $("#open").addClass("active");
            $("#close").removeClass("active");
        }
    }


    $("#newStore").click(function(){
        window.location.href="newStore.php"
    })

    $("#download").click(function(){
        window.location.href="../../controller/store/downloadStoreYJMB.php"
    })

    $("#downloadAll").click(function(){
        window.location.href="../../controller/store/downloadStoreData.php?option=1"
    })
</script>