<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
        <link href="\css/leftbar.css" rel="stylesheet"/>
        <link href="\css/header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap-datetimepicker.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 190px;">

            <ul class="breadcrumb" style="padding-left:30px;">
                <li><a href="dataStore.php">店铺信息</a></li>
                <li>每日数据</li>
            </ul>

            <div style="clear: both;border-radius: 6px;">
                <div class="nav nav-pills" style="float:left;margin-top:15px;margin-left:30px;">
                    {if($newLevel == "M")}
                        <li role="presentation"><a href="store_opt.html?id={$store_line.storeID}">店铺管理</a></li>
                        <li role="presentation" class="active"><a href="#">每日数据</a></li>
                        <li role="presentation"><a href="write_store_qs.html?id={$store_line.storeID}">店铺问题</a></li>
                    {else\}
                        <li role="presentation" class="active"><a href="#">每日数据</a></li>
                        <li role="presentation"><a href="write_store_qs.html?id={$store_line.storeID}">店铺问题</a></li>
                    {/if}
                </div>
            </div>

            <form action="/index.php/Index/store/store_dailyHandle" method="POST" style="padding-top: 10px;margin-left:30px;clear: both;">                
                
                <div class="form-group" style="clear: both;margin-bottom:0px;display:none">
                    <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">id</p>
                    <input type="text" class="form-control" name="id" value="{$store_line.id}" style="width: 200px;float: left;margin-top: 15px;">
                </div>
                <div class="form-group" style="clear: both;margin-bottom:0px;">
                    <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">店铺编号</p>
                    <input type="text" class="form-control" name="storeID" value="{$store_line.storeID}" readOnly style="width: 200px;float: left;margin-top: 15px;">
                </div>
                <div class="form-group" style="clear: both;margin-bottom:0px;">
                    <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">公司名称</p>
                    <input type="text" class="form-control" name="client" value="{$store_line.client}" readOnly  style="width: 200px;float: left;margin-top: 15px;">
                </div>
                <div class="form-group" style="clear: both;margin-bottom:0px;">
                    <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">店铺名称</p>
                    <input type="text" class="form-control" name="storeName" value="{$store_line.storeName}" readOnly style="width: 200px;float: left;margin-top: 15px;">
                </div>

                {if $store_line.htsq =="合同授权已提交"}
                    {if($department == "商业运营部")}
                        <div class="form-group" style="clear: both;margin-bottom:0px;">
                            <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">销售额</p>
                            <input type="text" class="form-control" name="salesMoney" placeholder="请输入销售额" style="width: 200px;float: left;margin-top: 15px;">
                        </div>
                        <div class="form-group" style="clear: both;margin-bottom:0px;">
                            <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">销售单量</p>
                            <input type="text" class="form-control" name="salesNum" placeholder="请输入销售单量" style="width: 200px;float: left;margin-top: 15px;">
                        </div>
                        <div class="form-group" style="clear: both;margin-bottom:0px;">
                            <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">登记日期</p>
                        
                            <div style="width: 200px;font-size: 14px;position:relative;top:15px" class="input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" id="dateTime" name="dateTime" size="16" type="text" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div style="clear: both">
                            <button type="submit" class="btn btn-success btn-sm" style="margin-top: 20px;">提交数据</button>
                        </div>
                    {else\}
                        <div class="form-group" style="clear: both;margin-bottom:0px;">
                            <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">回款登记</p>
                            <input type="text" class="form-control" name="backMoney" placeholder="请输入回款登记" style="width: 200px;float: left;margin-top: 15px;" value="{$hk}">
                            <p style="color:red;font-size:12px;float:left;margin-left:20px;position:relative;top:20px;">*仅需填写服务费回款</p>
                        </div>
                        <div class="form-group" style="clear: both;margin-bottom:0px;">
                            <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">店铺链接</p>
                            <input type="text" class="form-control" name="link" value="{$store_line.link}" placeholder="请输入店铺链接" style="width: 200px;float: left;margin-top: 15px;">
                        </div>
                        <div class="form-group" style="clear: both;margin-bottom:0px;">
                            <p style="width: 100px;font-size: 14px;float: left;margin-top: 20px;">登记日期</p>
                        
                            <div style="width: 200px;font-size: 14px;position:relative;top:15px" class="input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" value="{$date}" id="dateTime" name="dateTime" size="16" type="text" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div style="clear: both">
                            <button type="submit" class="btn btn-success btn-sm" style="margin-top: 20px;">提交数据</button>
                        </div>
                    {/if}
                {else\}
                        <div style="clear:both;margin-top:70px;">
                            <p>请上传合同，使KA与店铺绑定！</p>
                        </div>
                {/if}
            </form>
        </div>
    </body>
</html>

<style>
    
</style>

<script>
    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        autoclose: true,
        todayBtn: true,
        startView: 2,  
        minView: 2, 
        forceParse: false,
        language:'cn',
        pickerPosition: "bottom-left"
    });
</script>