<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{$title}</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\css/leftbar.css" rel="stylesheet"/>
        <link href="\css/header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div style="margin-left: 180px;">
            {include file="../application/admin/view/common/manager_header.html" /}

            <div style="float:left;margin-left:40px;margin-top:100px;width:1020px">
                <p style="float:left;font-size:14px;position:relative;top:7px">
                    <span><strong>流程名称：</strong>{$fl_progress_des.name}</span>
                    <span style="margin-left: 20px;"><strong>结款方式：</strong>{$fl_progress_des.jkfs}</span>
                    <span style="margin-left: 20px;"><strong>部门：</strong>{$department}</span>
                    <span style="margin-left: 20px;"><strong>变更节点：</strong>{$fl_progress_des.change_date}</span>
                    <span style="margin-left: 20px;"><strong>状态：</strong>{$fl_progress_des.status}</span>
                </p>
                <button class="btn btn-success btn-sm" style="float:right;"  data-toggle="modal" data-target="#myModal">添加节点</button>
            </div>
            
            <div style="clear:both">
                <canvas id="myCanvas" width="1020px" height="150" style="clear:both;margin-left:40px;margin-top:20px;border:1px solid #cccccc;">
                    您的浏览器不支持 HTML5 canvas 标签。
                </canvas>
            </div>
            
            <table class="table table-responsive table-bordered table-hover" style="clear:both;position:relative;top: 20px;width: 1020px;margin-left: 40px;">
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>审核人</th>
                    <th>操作</th>
                </tr>
                {foreach $flprogress_all as $flprogress}
                    <tr>
                        <td>{$flprogress.number}</td>
                        <td>{$flprogress.name}</td>
                        <td>{$flprogress.sp}</td>
                        <td><a href="process_fl_edit.html?id={$flprogress.id}">修改</a> | <a href="process_fl_del?id={$flprogress.id}&number={$flprogress.number}&flprogress_id={$flprogress.flprogress_id}&department={$flprogress.department}">删除</a></td>
                    </tr>
                {/foreach}
            </table>
        </div>

         <!-- Excel导入模态框 -->
         <form method="POST" action="/index.php/Admin/process/process_fl_addHandle" enctype="multipart/form-data">
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">
                                添加节点
                            </h4>
                        </div>
                        
                        <div class="modal-body" style="height: 320px;">
                        
                            <input type="text" class="form-control" name="flprogress_id" value="{$flprogress.flprogress_id}"   style="width:250px;display: none;"/>
                            <input type="text" class="form-control" name="department" value="{$flprogress.department}"   style="width:250px;display: none;"/>
                            <input type="text" class="form-control" name="id" value="{$flprogress.id}"  style="width:250px;display: none;"/>

                            <p style="font-weight: bold;">序号(如在中间插入，之后的流程后移)：</p><input type="text" class="form-control" name="number" placeholder="请输入序号" style="width:250px;margin-top:10px;"/>
                            <p style="font-weight: bold;margin-top:10px;">名称：</p><input type="text" name="name" class="form-control" placeholder="请输入名称" style="width:250px;margin-top:10px;"/>
                            <p style="font-weight: bold;margin-top:10px;">审核人：</p><input type="text" name="sp" class="form-control" placeholder="请输入审核人" style="width:250px;margin-top:10px;"/>
                            <p style="font-weight: bold;margin-top:10px;">抄送人：</p><input type="text" name="cs" class="form-control" placeholder="请输入抄送人" style="width:250px;margin-top:10px;"/>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div> 
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>

<script>
    var arr=[{$process_data}]

    var c=document.getElementById("myCanvas");
    var ctx=c.getContext("2d");
    
    ctx.beginPath();
    
    for(i=0;i<arr.length;i++){

        //画框1
        ctx.fillStyle = "purple";
        ctx.moveTo(5+145*i,50);
        ctx.lineTo(100+145*i,50);
        ctx.lineTo(100+145*i,70);
        ctx.lineTo(5+145*i,70);
        ctx.lineTo(5+145*i,50);

        ctx.font="11px Arial";
        ctx.fillText("序号" + (i+1).toString() ,13+145*i,65);


        //画框2
        ctx.moveTo(5+145*i,70);
        ctx.lineTo(100+145*i,70);
        ctx.lineTo(100+145*i,130);
        ctx.lineTo(5+145*i,130);
        ctx.lineTo(5+145*i,70);

        if(i<arr.length-1){

            ctx.moveTo(100+145*i,90);
            ctx.lineTo(150+145*i,90);
            ctx.moveTo(140+145*i,85);
            ctx.lineTo(150+145*i,90);
            ctx.moveTo(140+145*i,95);
            ctx.lineTo(150+145*i,90);

        }

  
        ctx.font="12px Arial";
        ctx.fillText(arr[i],13+145*i,105);
    }

    ctx.stroke();

</script>

<style>
    th{
        background-color: #f5f2f2;
    }
</style>