{extend name="base"/}
{block name="link"}    
    <script src="/js/sx/back_sx.js"></script>
{/block}

{block name="container"}   
    <form method="POST" action="/index.php/Index/sx/hk_sxHandle?no={$sxid}">
        <p style="font-size:16px;">回款单据</p>
        <hr>
        
        <div class="form-group">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">授信编号</p>
            <select style="width: 250px;float: left;margin-top: 15px;" class="form-control" name="sxbh" id="sxbh">
                {foreach $sxs as $sx}
                    {if $sx.sqid==$sxid}
                        <option selected>{$sx.sqid}</option>
                    {else\}
                        <option>{$sx.sqid}</option>
                    {/if}
                {/foreach}  
            </select>
        </div>
        <div class="form-group" style="clear: both;display:none">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">id</p>
            <input type="text" class="form-control" style="margin-top:15px;width: 250px;float: left;" id="id" name="id" readonly = "readonly"  value=""/>
        </div>
        <div class="form-group" style="clear: both;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">公司名称</p>
            <input type="text" class="form-control" style="margin-top:15px;width: 250px;float: left;" id="cn" name="cn" readonly = "readonly"  value=""/>
        </div>
        <div class="form-group" style="clear: both;margin-top: 0px;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">业务员</p>
            <input type="text" class="form-control" name="ywy" style="width: 250px;float: left;margin-top: 15px;" id="ywy" readonly = "readonly">
        </div>
        <div class="form-group" style="clear: both;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">回款期数</p>
            <input type="text" class="form-control" name="hkqs" style="float: left;width: 250px;margin-top: 15px;" id="hkqs" readonly = "readonly">
        </div>
        <div class="form-group" style="clear: both;margin-top: 30px;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">实际回款日期</p>
            <div style="width: 250px;font-size: 14px;float: left;margin-top: 15px;" class="input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" name="date2" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group" style="clear: both;margin-top: 0px;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">实际回款金额</p>
            <input type="text" class="form-control" name="sjhkje" placeholder="请输入还款金额" style="width: 250px;float: left;margin-top: 15px;">
        </div>
        <div class="form-group" style="clear: both;margin-top: 30px;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">实际回款方式</p>
            <select class="form-control" name="hkfs" style="float: left;width: 250px;margin-top: 15px;">
                <option></option>
                <option>现金还款</option>
                <option>货物冲抵</option>
                <option>汇款</option>
                <option>汇款+冲抵</option>
                <option>其他方式</option>
            </select>
            <input type="text" class="form-control" name="hkfs2" placeholder="请输入回款方式备注" style="width: 250px;float: left;margin-top: 15px;margin-left: 20px;">
        </div>
        <div class="form-group" style="clear: both;margin-top: 0px;">
            <p style="width: 120px;font-size: 14px;float: left;margin-top: 20px;">剩余金额处理方式</p>
            <input type="text" class="form-control" name="syjehkfs" placeholder="请输入剩余金额处理方式" style="width: 250px;float: left;margin-top: 15px;">
        </div>
        <div class="form-group" style="clear: both;position:relative;top:10px;">
            <button type="button" class="btn btn-success btn-sm" id="submit">点击提交</button>
            <button type="submit" class="btn btn-default btn-sm hidden" id="hd_submit">提交</button>
        </div>
    </form>
{/block}