<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>俞兆林_公司授信</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
        <link href="\lib\bootstrap-3.3.7-dist\css\bootstrap-theme.css" rel="stylesheet" media="screen"/>
        <link href="\css\leftbar.css" rel="stylesheet"/>
        <link href="\css\header.css" rel="stylesheet"/>
        <script src="\lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
        <script src="\lib\bootstrap-3.3.7-dist\js\bootstrap-datetimepicker.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div class="zhangmu_container" style="margin-top:50px;">
            <div style="clear: both;border-radius: 6px;">
                <div class="nav nav-pills" style="float:left;margin-top:20px;margin-left:30px;">
                    <li role="presentation"><a href="/index.php/Index/sx/dsh_sx.html">待归档授信</a></li>
                    <li role="presentation" class="active"><a href="#">待审核回款</a></li>
                </div>
            </div>
            
            <div style="clear:both">
                <h4 style="float:left;margin-top:20px">
                    <span class="label label-info" style="margin-left:30px;">共{$total}条</span>
                    <span class="label label-warning" style="margin-left:5px;">共{$pagecount}页</span>
                    <span class="label label-success" style="margin-left:5px;">第{$page}页</span>
                </h4>
            <div>
            
            <div style="clear:both;position: relative;top: 17px;margin-left: 30px;">
                <table class="table table-responsive table-bordered table-hover" style="width: 1020px;margin-bottom:10px;">
                    <tr>
                        <th>序号</th>
                        <th style="width: 150px;">授信编号</th>
                        <th>公司名称</th>
                        <th>事业部</th>
                        <th>业务员</th>
                        <th>授信金额</th>
                        <th>剩余应还</th>
                        <th>剩余额度</th>
                        <th>状态</th>
                        <th style="width:100px;">登记日期</th>
                    </tr>
                    {foreach name="sxs" item="sx" key="index"}
                        <tr>
                            <td>{$pagesize*($page-1) + $index+1}</td>

                            {if $sx.status=="已拒绝" and $sx.ywy == $username}
                                <td class="td1"><p style="margin:0 auto"><a href="/index.php/Index/sx/sx_line2.html?id={$sx.id}" style="width: 50px;color:red">{$sx.sqid}</a></p></td>
                            {else\}
                                <td class="td1"><p style="margin:0 auto"><a href="/index.php/Index/sx/sx_line2.html?id={$sx.id}" style="width: 50px;">{$sx.sqid}</a></p></td>
                            {/if}
                        
                            <td class="td2"><p style="margin:0 auto">{$sx.companyName}</p></td>
                            <td class="td3"><p style="margin:0 auto">{$sx.department}</p></td>
                            <td>{$sx.ywy}</td>
                            <td>{$sx.sqmoney}</td>
                            <td>{$sx.dhkje}</td>
                            <td>{$sx.dhkje==NULL?0:$sx.sqmoney-$sx.dhkje}</td>
                            <td>{$sx.status}</td>
                            <td>{$sx.date1}</td>
                        </tr>
                    {/foreach}
                </table>
            </div>
            <div style="margin-left: 30px;">
                <ul class="pager" style="float:left;width:150px;">
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                        if($page>1)
                            echo $page-1;
                        else
                            echo 1;  
                    ?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>">上一页</a></li>
                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                        if($page<$pagecount)
                            echo $page+1;
                        else
                            echo $pagecount;  
                    ?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>">下一页</a></li>
                </ul>

                <div style="float:left;margin-left:550px;width:321px;">
                    <ul class="pagination" style="float:right">
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=1">&laquo;</a></li>
                        <?php
                            if($pagecount<=5){
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>"><?=$i?></a></li>
                                        <?php
                                    }else{
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>"><?=$i?></a></li>
                                        <?php
                                    }
                                }
                            }else{
                                for($i=1;$i<=$pagecount;$i++){
                                    if($i==$page){
                                        ?>
                                            <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>"><?=$i?></a></li>
                                        <?php
                                    }elseif(($i>=$page-2 and $i<=$page+2 and $page>3) and $page !=$pagecount){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>"><?=$i?></a></li>
                                        <?php
                                    }elseif($i<=5){
                                        if($page<=3){
                                        ?>
                                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>"><?=$i?></a></li>
                                        <?php
                                        }
                                    }
                                }
                            }
                            
                        ?>
                        
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php echo $pagecount; ?>&date1=<?=$date1?>&date2=<?=$date2?>&companyName=<?=$companyName?>">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    th{background-color:rgb(67, 64, 255);color:#fff}
    th,td{text-align: center;margin: 0;overflow: hidden}
    .to-scroll{overflow-x: scroll;overflow-x: scroll;height: 550px;clear:both}
    .zhangmu_container{margin-left: 180px}
    .nav_div{float:left;margin-top: 20px;margin-left:20px}
    .date_form{clear: both;float:left;margin-top:30px;margin-left:30px}
    .djrq{float:left;margin-top:5px}
    .template{float:left;margin-left:400px;margin-top:2px}
    .pager li a:hover{background-color:#337ab7;color:#fff}
    .td1 p{text-align:center;width: 150px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
    .td2 p{width: 180px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis}
    .td3 p{width: 100px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
</style>