{extend name="base"/}
{block name="link"}    
    <link href="/css/sx/sx_line2.css" rel="stylesheet"/>
    <script src="/js/sx/sx_line2.js"></script>
{/block}

{block name="container"}  
    <?php error_reporting(E_ALL || ~E_NOTICE);?>

    <p id="id" class="hidden">{$_GET["id"]}</p>
    
    <div>
        {if($status=="待生效")}
            <button class="btn btn-warning btn-sm" style="float: left;margin-left: 640px;margin-left: 10px;">待生效</button>
        {elseif($status=="待归档")} 
            <button class="btn btn-info btn-sm" style="float: left;margin-left: 640px;margin-left: 10px;">待归档</button>
        {elseif($status=="已生效")}  
            <button class="btn btn-success btn-sm" style="float: left;margin-left: 640px;margin-left: 10px;">已生效</button>
        {elseif($status=="已作废")}  
            <button class="btn btn-danger btn-sm" style="float: left;margin-left: 640px;margin-left: 10px;">已作废</button>
        {elseif($status=="已拒绝")}  
            <button class="btn btn-danger btn-sm" style="float: left;margin-left: 640px;margin-left: 10px;">已拒绝</button>
        {elseif($status=="已完成")} 
            <button class="btn btn-info btn-sm" style="float: left;margin-left: 640px;margin-left: 10px;">已完成</button>
        {/if}

        <div style="width:1030px">
            <div style="float:left">
                <p style="float: left;margin-left: 10px;font-size:16px;margin-top:5px"><strong>授信编号：{$sx_line.sqid}</strong></p>
                <p style="float: left;margin-left:60px;font-size:16px;margin-left: 10px;margin-top:5px"><strong>有效期限：从 {$sx_line.startDate} 到 {$sx_line.endDate}</strong></p>   
            </div>
                
            <div style="float:right">
                
                {if($newLevel=="ADMIN")}
                    <button class="btn btn-danger btn-sm"  data-target="#myModal" data-toggle="modal" style="float:right;margin-left:10px">作废单据</button>
                {/if}

                {if $sx_line.file_name ==""}
                    <button class="btn btn-success btn-sm" style="float:right;margin-left:10px" onclick="alert('没有附件')">附件下载</button>
                {else\}
                    <a class="btn btn-success btn-sm" style="float:right;margin-left:10px" href="/file/sx_file/{$sx_line.file_name}" target="_blank">查看附件</a>
                {/if}
            </div>
                

            <div style="clear:both"></div>
                <hr>

            <table class="base_list table table-responsive table-bordered table-hover" style="clear:both;position:relative;width: 1030px;margin-top:10px;">
                <tr>
                    <td>公司名称</td>
                    <td>{$sx_line.companyName}</td>
                    <td>事业部</td>
                    <td>{$sx_line.department}</td>
                    <td>申请人</td>
                    <td>{$sx_line.ywy}</td>
                    <td>保证人</td>
                    <td>{$sx_line.bpeople}</td>
                    <td>签署时间</td>
                    <td>{$sx_line.date1}</td>
                </tr>
                <tr>
                    <td>授信金额</td>
                    <td>￥{$sx_line.sqmoney}</td>
                    <td>手续费</td>
                    <td>￥{$sx_line.sxf}</td>
                    <td>已还款金额</td>
                    <td>￥{$sx_line.sqmoney - $sx_line.dhkje}</td>
                    <td>待还款金额</td>
                    <td>￥{$sx_line.dhkje}</td>
                    <td>共享事业部</td>
                    <td>{$sx_line.gxDepartment == ""?"\":$sx_line.gxDepartment}</td>
                </tr>
            </table>
        </div>

        <p>计划与实际回款信息：</p>
        <table class="table table-responsive table-bordered table-hover" style="width: 1030px;margin-top: 10px;">
            <tr>
                <th>期数</th>
                <th>计划回款日期</th>
                <th>回款金额</th>
                <th>违约费率</th>
                <th>小计</th>
                <th>回款方式</th>
                <th>实际回款日期</th>
                <th>回款金额</th>
                <th>回款方式</th>
                <th>是否逾期</th>
            </tr>

            <?php
                for($i=0;$i<12;$i++){
                    if($dateTime[$i] != "" || $date2[$i] != ""){
                    ?>
                        <tr>
                            <td>第<?=$i+1?>期</td>
                            <td><?=$dateTime[$i]?></td>
                            <td><?=$hkje[$i]?></td>
                            <?php
                                if($wyfl[$i] !=""){
                                    ?>
                                        <td><?=$wyfl[$i].'%'?></td>
                                    <?php
                                }else{
                                    ?>
                                        <td></td>
                                    <?php
                                }
                                ?>

                            <td><?php echo $hkje[$i]*($wyfl[$i]/100+1)?></td>
                            <td><a href="#" title="<?=$hkfsbz[$i]?>" style="color:#333"><?=$hkfs[$i]?></a></td>
                            <td><?=$date2[$i]?></td>
                            <td><?=$sjhkje[$i]?></td>
                            <td><a href="#" title="<?=$hkfs2[$i]?>" style="color:#333"><?=$sjhkfs[$i]?></a></td>
                            <?php
                                $D1 = strtotime($now);

                                if($dateTime[$i] !=""){
                                    $D2 = strtotime($dateTime[$i]);
                                }else{
                                    $D2="";
                                }
                                
                                if($D1>$D2 and $date2[$i]=="" and $syhkje !="0"){
                                    ?>
                                        <td style="color: darkred;">逾期</td>
                                    <?php
                                }elseif($D1<=$D2 and $date2[$i]=="" and $syhkje !="0"){
                                    ?>
                                        <td style="color: darkyellow;">待还款</td>
                                    <?php
                                }else{
                                    ?>
                                        <td style="color: darkgreen;">已还款</td>
                                    <?php
                                }
                            ?>
                            
                        </tr>
                    <?php
                    }
                }
            ?>
        </table>

        <p>剩余金额回款方式：{$syjehkfs}</p>            

        {if ($department == "财务部" or $newLevel == "ADMIN") and $sx_line.c_status =="待财务审批" }
        
            <div style="margin-left:930px;">
                <button class="btn btn-sm btn-success" style="float:left;" id="agree">同意</button>
                <button class="btn btn-sm btn-danger" style="float:left;margin-left:10px;" id="disagree">拒绝</button>
            </div>
        {/if}

        <p style="margin-top:50px;">扣款明细：</p>
    
        <table class="table table-responsive table-bordered table-hover" style="clear:both;position:relative;width: 1030px;top:10px;">
            <tr>
                <th>序号</th>
                <th>辅料编号</th>
                <th>总授信</th>
                <th>已使用金额</th>
                <th>本次使用金额</th>
                <th>剩余金额</th>
                <th>使用部门</th>
                <th>日期</th>
                <th>备注</th>
            </tr>
            {foreach name="fls" item="fl" key="index"}
                <tr>
                    <td>{$index}</td>
                    {if($fl.fl_id !="")}
                        <td><a href="/index.php/Index/fl/fl_line.html?id={$fl.fl_id}">{$fl.fl_no}</a></td>
                    {else\}
                        <td>{$fl.fl_no}</td>
                    {/if}
                    
                    <td>￥{$fl.sqmoney}</td>
                    <td>￥{$fl.useMoney}</td>
                    <td>￥{$fl.nowUseMoney}</td>
                    <td>￥{$fl.remainMoney}</td>
                    <td>{$fl.useDepartment}</td>
                    <td>{$fl.date}</td>
                    <td>{$fl.note}</td>
                </tr>
            {/foreach}                
        </table>

        <p>备注信息：{$note}</p>
    </div>
{/block}