th{background-color:rgb(67, 64, 255);color:#fff}
th,td{text-align: center;margin: 0;overflow: hidden}
.to-scroll{overflow-x: scroll;overflow-x: scroll;height: 550px;clear:both}
.zhangmu_container{margin-left: 180px;}
.nav_div{float:left;margin-top: 20px;margin-left:40px;}
.date_form{clear: both;float:left;margin-top:30px;margin-left:30px}
.djrq{float:left;margin-top:5px}
.template{float:left;margin-left:400px;margin-top:2px;}
.pager li a:hover{background-color:#337ab7;color:#fff;}
.td1 p{text-align:center;width: 150px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.td2 p{width: 180px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}