<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <link href="/css/leftbar.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/lib/layui/css/layui.css" ></script>
        <script src="/js/leftBar.js"></script>
        <script src="/lib/layui/layui.js"></script>
    </head>
    <body>
        <div class="leftBar">
            <ul class="leftbarAll">
                <li class="leftbar0"><i class="layui-icon layui-icon-home"></i><a href="#">我的门户</a></li>
                <div class="leftbar0Z zcd">
                    <li class="leftbar0Z1"><a href="/">公司门户</a></li>
                    <li class="leftbar0Z2"><a href="/index.php/Index/index/myWork.html">我的工作</a></li>
                    <li class="leftbar0Z3"><a href="/index.php/Index/index/dataQuery.html">数据平台</a></li>
                </div>

                <li class="leftbar13"><i class="layui-icon layui-icon-template-1"></i><a href="#">客户管理</a></li>
                <div class="leftbar13Z zcd">
                    <li class="leftbar13Z1"><a href="/index.php/Index/client/addClientPage.html">新增客户</a></li>
                    <li class="leftbar13Z2"><a href="/index.php/Index/client/clientList.html">客户列表</a></li>
                </div>

                <li class="leftbar7"><i class="layui-icon layui-icon-template-1"></i><a href="#">公司合同</a></li>
                <div class="leftbar7Z zcd">
                    <li class="leftbar7Z2"><a href="/index.php/Index/contract/contract.html">新增合同</a></li>
                    <li class="leftbar7Z3"><a href="/index.php/Index/contract/w_contract.html">待审核合同</a></li>
                    <li class="leftbar7Z1"><a href="/index.php/Index/contract/d_contract.html">已审核合同</a></li>
                </div>

                <li class="leftbar1"><i class="layui-icon layui-icon-rmb"></i><a href="#">授信申请</a></li>
                <div class="leftbar1Z zcd">
                    <li class="leftbar1Z2"><a href="/index.php/Index/sx/write_sx.html">新增授信单</a></li>
                    <li class="leftbar1Z1"><a href="/index.php/Index/sx/dsh_sx.html">待审核授信</a></li>
                    <li class="leftbar1Z4"><a href="/index.php/Index/sx/dhk_sx.html">待回款授信</a></li>
                    <li class="leftbar1Z5"><a href="/index.php/Index/sx/ywc_sx.html">已完成授信</a></li>
                </div>


                <li class="leftbar6"><i class="layui-icon layui-icon-form"></i><a href="#">辅料申请</a></li>
                <div class="leftbar6Z zcd">
                    <li class="leftbar6Z1"><a href="/index.php/Index/fl/flsq.html">新增辅料单</a></li> 
                    <li class="leftbar6Z2"><a href="/index.php/Index/fl/w_fl.html">待审核辅料</a></li> 
                    <li class="leftbar6Z3"><a href="/index.php/Index/fl/d_fl.html">已完成辅料</a></li>
                </div>

                <li class="leftbar11"><i class="layui-icon layui-icon-diamond"></i><a href="#">店铺信息</a></li>
                <div class="leftbar11Z zcd">
                    <li class="leftbar11Z2"><a href="/home/store/manStore.php">店铺管理</a></li>
                    <li class="leftbar11Z4"><a href="/home/store/dataStore.php">店铺数据</a></li>
                    <li class="leftbar11Z5"><a href="/home/store/storeQS.php">店铺问题</a></li>
                </div>
                
                    <li class="leftbar8"><i class="layui-icon layui-icon-component"></i><a href="#">电脑设备</a></li>
                    <div class="leftbar8Z zcd">
                        <li class="leftbar8Z1"><a href="/home/it/itList.php">设备列表</a></li> 
                        <li class="leftbar8Z2"><a href="/home/it/it.php">新增设备</a></li>
                    </div>


                <li class="leftbar10"><i class="layui-icon layui-icon-chart-screen"></i><a href="#">订会议室</a></li>
                <div class="leftbar10Z zcd">
                    <li class="leftbar10Z1"><a href="/home/meeting/viewMeeting.php">查看会议</a></li> 
                </div>
                
                <li class="leftbar5"><i class="layui-icon layui-icon-user"></i><a href="#">个人中心</a></li>
                
                <div class="leftbar5Z zcd">
                    <li class="leftbar5Z1"><a href="/home/center/center.php">我的资料</a></li> 
                </div>

                <li class="leftbar9"><i class="layui-icon layui-icon-download-circle"></i><a href="#">文件公告</a></li>    
            
                <div class="leftbar9Z zcd">
                    <li class="leftbar9Z1"><a href="/home/news/allNews.php">公司公告</a></li>
                    <li class="leftbar9Z3"><a href="/home/document/document.php">文件下载</a></li> 
                </div>

                <div>                   
                    <li class="leftbar12"><i class="layui-icon layui-icon-password"></i><a href="/admin/manager/manager_index.php">后台管理</a></li>
                </div>
            </ul>
        </div>
    </body>
</html>
