{extend name="base"/}
{block name="link"}    
    <link href="/css/meeting/view_meeting.css" rel="stylesheet"/>
    <script src="/lib/echarts/dist/echarts.min.js"></script>
    <script src="/js/meeting/view_meeting.js"></script>
{/block}

{block name="container"}
    <div>
        <h4 style="float:left">会议室概况</h4>

        <div style="float:left;margin-left:700px">
            <p style="float: left;position:relative;top:7px;">选择日期</p>
            <div style="width: 180px;font-size: 14px;float: left;margin-left:20px" class="input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" id="dateTime" name="dateTime" size="16" type="text" value="<?=$date?>" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>


    <div style="clear:both;width:1100px;">
    
        <?php 
            for($i=0;$i<6;$i++){
        ?>
    
        <div style="width:322px;height:250px;float:left;margin-right:30px;margin-top:20px" class="meetingBorder">
            <span class="label label-success" style="position:relative;top:15px;left:10px;padding-top:5px;">会议室<?=$i+1?></span>
            <p style="float:right;margin-top:10px;margin-right:10px;">当前状态：空闲</p>

            <div style="margin-top:15px;" class="meetingUL">
                <div style="height:160px;">
                    <table class="table" style="width:275px;margin-left:20px;margin-top:30px;">
                        <tr>
                            <th style="width:100px">时间</th>
                            <th style="width:100px">主题</th>
                            <th style="width:100px">申请人</th>
                        <tr>
                        
                        {foreach $meetings as $meeting}
                            {if $meeting.room == $i}
                                <tr>
                                    <td><p>{$meeting.startTime}-{$meeting.endTime}</p></td>
                                    <td><p><a href="/index.php/Index/meeting/meeting_line.html?id={$meeting.Id}">{$meeting.title}</a></p></td>
                                    <td><p>{$meeting.people}</p></td>
                                <tr>
                            {/if}
                        {/foreach}
                    </table>
                </div>
                
                {if($department =="人事行政部" or $newLevel =="ADMIN")}
                    <a href="/index.php/Index/meeting/add_meeting.html?room=<?=$i+1?>" style="float:right;margin-right:10px;color:brown;margin-bottom:20px">新增会议</a>
                {/if}
            </div>
        </div>
        <?php
            }
        ?>

    </div>
{/block}              
