<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=0.8">
        <meta name="renderer" content=webkit>
        <title>俞兆林_辅料申请</title>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="/lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="/lib\bootstrap-3.3.7-dist\css\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
        <link href="/css/leftbar.css" rel="stylesheet"/>
        <link href="/css/header.css" rel="stylesheet"/>
        <link href="/css/flsq.css" rel="stylesheet"/>
        <script src="/lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="/js/flsq.js?v=6"></script>
        <script src="/lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
        <script src="/lib\bootstrap-3.3.7-dist\js\bootstrap-datetimepicker.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}
        
        <div class="flsq_div" style="margin-top:50px;">
        </div>
    </body>
</html>

