{extend name="base"/}
{block name="link"}    
    <link href="/css/fl/query_amount.css" rel="stylesheet"/>
    <script src="/js/fl/query_amount.js"></script>
{/block}

{block name="container"}
    <div style="width:1030px;">
        <p style="float:left;position: relative;top:7px">辅料查询</p>
        <input type="text" class="form-control" id="search" name="information" value="{$information}" style="float:left;width: 200px;margin-left: 15px;">
        <button class="btn btn-sm btn-warning" style="float:left;margin-left: 10px;" id="query">查询</button>
        <button class="btn btn-sm btn-success" style="float:left;margin-left: 10px;" id="download">下载</button>

        {if $newLevel == "ADMIN"}
            <button class="btn btn-sm btn-info" style="float:right" id="createFL" data-toggle="modal" data-target="#myModal">添加辅料</button>
        {/if}
    </div>

    <table class="table table-responsive table-bordered table-hover" style="width: 1030px;position:relative;top:15px;">
        <tr>
            <th>序号</th>
            <th>辅料名称</th>
            <th>辅料单价</th>
            <th>辅料数量</th>
            {if $newLevel == "ADMIN"}
                <th>操作</th>
            {/if}
        </tr>
        {foreach name="fls" item="fl" key="index"}
            <tr>
                <td>{$pagesize*($page-1) + $index+1}</td>
                <td>{$fl.fl_name}</td>
                <td>{$fl.fl_price}</td>
                <td>{$fl.fl_amount}</td>
                {if $newLevel == "ADMIN"}
                    <td style="width:150px;">
                        <a href="/index.php/Index/fl/fl_edit?id={$fl.id}">修改</a>
                        <span> | </span>
                        <a href="/index.php/Index/fl/fl_del?id={$fl.id}">删除</a>
                    </td>
                {/if}
            </tr>
        {/foreach}
    </table>

    <div style="margin-top:35px;">
        <ul class="pager" style="float:left;width:150px;margin-top:0px;">
            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                if($page>1)
                    echo $page-1;
                else
                    echo 1;  
            ?>">上一页</a></li>
            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                if($page<$pagecount)
                    echo $page+1;
                else
                    echo $pagecount;  
            ?>">下一页</a></li>
        </ul>
    
        <div style="float:left;margin-left:560px;width:321px;">
            <ul class="pagination" style="float:right;margin-top:0px;">
                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=1">&laquo;</a></li>
                <?php
                    if($pagecount<=5){
                        for($i=1;$i<=$pagecount;$i++){
                            if($i==$page){
                                ?>
                                    <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                <?php
                            }else{
                                ?>
                                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                <?php
                            }
                        }
                    }else{
                        for($i=1;$i<=$pagecount;$i++){
                            if($i==$page){
                                ?>
                                    <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                <?php
                            }elseif(($i>=$page-2 and $i<=$page+2 and $page>3) and $page !=$pagecount){
                                ?>
                                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                <?php
                            }elseif($i<=5){
                                if($page<=3){
                                ?>
                                    <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>"><?=$i?></a></li>
                                <?php
                                }
                            }
                        }
                    }
                    
                ?>
                
                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php echo $pagecount; ?>">&raquo;</a></li>
            </ul>
        </div>
    </div>

    <!-- Excel导入模态框 -->
    <form action="fl_add" method="POST" style="margin-left: 50px;">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">
                            添加辅料
                        </h4>
                    </div>
                    
                    <div class="modal-body" style="height: 220px;">
                        <div>
                            <p>辅料名称：</p>
                            <input type="text" placeholder="请输入辅料名称" class="form-control" name="fl_name" style="width: 250px;margin-top:5px;">
                        </div>

                        <div style="margin-top:10px;">
                            <p>辅料价格：</p>
                            <input type="text" placeholder="请输入辅料价格" class="form-control" name="fl_price" style="width: 250px;margin-top:5px;">
                        </div>

                        <div style="margin-top:10px;">
                            <p>辅料数量：</p>
                            <input type="text" placeholder="请输入辅料数量" class="form-control" name="fl_amount" style="width: 250px;margin-top:5px;">
                        </div>
                        
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">新增辅料</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div> 
                </div>
            </div>
        </div>
    </form>
{/block}