<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=0.5">
        <title>俞兆林_辅料申请</title>
        <meta http-equiv="refresh" content="300">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
        <link href="/lib\bootstrap-3.3.7-dist\css\bootstrap.css" rel="stylesheet"/>
        <link href="/lib\bootstrap-3.3.7-dist\css\bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen"/>
        <link href="/css\leftbar.css" rel="stylesheet"/>
        <link href="/css\header.css" rel="stylesheet"/>
        <link href="/css\flList.css" rel="stylesheet"/>
        <script src="/lib\bootstrap-3.3.7-dist\js\jquery-3.3.1.min.js"></script>
        <script src="/js\flList.js"></script>
        <script src="/lib\bootstrap-3.3.7-dist\js\bootstrap.min.js"></script>
        <script src="/lib\bootstrap-3.3.7-dist\js\bootstrap-datetimepicker.js"></script>
    </head>
    <body>
        {include file="../application/index/view/common/header.html" /}
        {include file="../application/index/view/common/leftBar.html" /}

        <div class="flList_div" style="margin-top:50px;">
            <div class="search_bar">
                <p class="search_bar_p1">辅料单查询</p>

                <select class="form-control search_bar_s2" id="time1">
                    <option>流程开始时间</option>
                </select>

                <div class="input-group date form_datetime search_bar_t" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="input_time" size="16" type="text" value="<?=$input_time?>" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                
                <p class="search_bar_p2"> 到 </p>

                <div class="search_bar_t input-group date form_datetime" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" id="input_time2" size="16" type="text" value="<?=$input_time2?>" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>

                <input type="text" class="form-control company_name" id="keywords" placeholder="请输入编号/公司/部门/业务员关键字" value="<?=$keywords?>">
                
                <button class="btn btn-warning btn-sm search_bar_btn" id="query_fl">查询</button>
                <button class="btn btn-success btn-sm search_bar_btn" id="download_fl">下载</button>
            </div>
            
            
            <div class="clearfix">
                <div class="fy_span clearfix">
                    <h4>
                        <span class="label label-info">共{$total}条</span>
                        <span class="label label-warning">共{$pagecount}页</span>
                        <span class="label label-success">第{$page}页</span>
                    </h4>
                </div>


                <table class="table table-responsive table-bordered table-hover td1">
                    <tr>
                        <th>序号</th>
                        <th>编号</th>
                        <th>公司</th>
                        <th>申请人</th>
                        <th>流程开始日期</th>
                        <th>状态</th>
                        <th>审核人</th>
                    </tr>

                    {foreach name="fls" item="fl" key="index"}
                        <tr>
                            <td>{$pagesize*($page-1) + $index+1}</td>

                            {if($fl.key==0 and ($fl.status == "义乌打包发货" or $fl.status == "商业运营归档单据" or $fl.status == "已归档单据") and ($fl.jkfs !="全授信" and $fl.jkfs !="标费补贴"))}
                                {if($newLevel == "ADMIN")}
                                    <td><a href="/index.php/Index/fl/fl_line.html?id={$fl.id}" style="color:red" target="_blank">{$fl.no}</a></td>
                                {else\}
                                    <td>{$fl.no}</td>
                                {/if}
                            {else\}
                                {if($username == $fl.shr)}
                                    <td><a href="/index.php/Index/fl/fl_line.html?id={$fl.id}" style="color:red" target="_blank">{$fl.no}</a></td>
                                {else\}
                                    <td><a href="/index.php/Index/fl/fl_line.html?id={$fl.id}" style="color:green" target="_blank">{$fl.no}</a></td>
                                {/if}
                            {/if}

                            <td>{$fl.company}</td>
                            <td>{$fl.people}</td>
                            <td>{$fl.date}</td>
                            <td>{$fl.status}</td>
                            <td>{$fl.shr}</td>
                        </tr>
                    {/foreach}
                </table>

                <div style="margin-left: 20px;">
                    <ul class="pager" style="float:left;width:150px;margin-top:0px">
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                            if($page>1)
                                echo $page-1;
                            else
                                echo 1;  
                        ?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>">上一页</a></li>
                        <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php
                            if($page<$pagecount)
                                echo $page+1;
                            else
                                echo $pagecount;  
                        ?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>">下一页</a></li>
                    </ul>

                    <div style="float:left;margin-left:560px;width:321px;">
                        <ul class="pagination" style="float:right;margin-top:0px">
                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=1&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>">&laquo;</a></li>
                            <?php
                                if($pagecount<=5){
                                    for($i=1;$i<=$pagecount;$i++){
                                        if($i==$page){
                                            ?>
                                                <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>"><?=$i?></a></li>
                                            <?php
                                        }else{
                                            ?>
                                                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>"><?=$i?></a></li>
                                            <?php
                                        }
                                    }
                                }else{
                                    for($i=1;$i<=$pagecount;$i++){
                                        if($i==$page){
                                            ?>
                                                <li  class="active"><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>"><?=$i?></a></li>
                                            <?php
                                        }elseif(($i>=$page-2 or $i<=$page+2) and $page !=$pagecount){
                                            ?>
                                                <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?=$i?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>"><?=$i?></a></li>
                                            <?php
                                        }
                                    }
                                }
                                
                            ?>

                            <li><a href="<?php echo $_SERVER['PHP_SELF']?>?page=<?php echo $pagecount; ?>&status=<?=$status2?>&time=<?=$time?>&input_time=<?=$input_time?>&input_time2=<?=$input_time2?>&clientName=<?=$keywords?>">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>